<div class="container">
  <div class="container card mt-5">
    <div class="p-3" *ngIf="compesationExists">
      <h3>
        Compesations found in {{ setMonth(compesationMonth) }}
        {{ compesationYear }}
      </h3>

      <table class="table">
        <thead class="bg-dark text-light">
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Month</th>
            <th scope="col">Year</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let compesation of compesations">
            <th>{{ compesation.type }}</th>
            <th>{{ setMonth(compesation.month) }}</th>
            <td>{{ compesation.year }}</td>
            <td>{{ compesation.description }}</td>
            <td>$ {{ compesation.amount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="p-3" *ngIf="!compesationExists">
      <h3>No compesations found :(</h3>
    </div>
  </div>
</div>
