<form>
  <br />
  <h4>Search compesation by month</h4>
  <div class="row">
    <div class="col">
      <span>Month</span>
      <select class="form-control" name="month" ngModel="1">
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
    </div>
    <div class="col">
      <span>Year</span>
      <input
        class="form-control"
        type="number"
        placeholder="Year (YYYY)"
        min="2000"
        max="2050"
        name="year"
        ngModel="2021"
      />
    </div>
  </div>
  <br />
  <a
    type="submit"
    class="btn btn-warning"
    routerLink="/monthly-compesation?month=&year="
    >Search</a
  >
  <br /><br />
  <div class="bg-primary text-center text-light"></div>
</form>
